* text=auto
*.cpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.ini text eol=lf
*.py text eol=lf
*.md text eol=lf
*.uproject text eol=lf
*.uasset binary
*.umap binary
ArtSource/Ceiling/TextureCan0013/source4k.zip filter=lfs diff=lfs merge=lfs -text
